     table, th, td{
            border: 1px solid black;
            align: center;
            text-align: center;
            border-collapse: collapse;
            padding: 5px;
        }
        td{
            column-span: 2;
            align-content: center;
        }
        table{
            border-spacing: 25px;
                        align: center;
        }
        footer{
        align:center;
        text-align:center;
        }

.listWrapper {
    max-height:100px;
    overflow-y:auto;
}