<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}


<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3> App Analytics Home Page </h3></center>


    <div class="container">
            <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}


    <table style="width:100%">
 <tr>
   <!--<th>S.No</th>-->
    <th>Step No</th>
    <th>Action Button</th>
    <th>Status</th>
    <th>Job Logs</th>
    <th>Description</th>
<tr>
<!--Step1-Maintain App Data-->
    <!--Step No-->
    <td>
        <p> Step 1</p>
    </td>
    <!--Action Button-->
    <td>
       <a href= {{absolute_url("/Analytics/InputData")}}><p>Maintain App Data</p></a>
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnMainTainAppData_log">
    </td>
    <!--Description-->
    <td></td>
</tr>
<tr>
<!--Step1.01-Add Base JSON-->
    <!--Step No-->
    <td>
        <p> Step 1.01</p>
    </td>
    <!--Action Button-->
    <td>
     <input type="button" value="Add Base JSON" id="btnAddBaseJSON">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
    <input type="button" value="View Log" id="btnAddBaseJSON_LOG">
    </td>
    <!--Description-->
    <td></td>
</tr>
<!--Step2--Set TestMode-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 2</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Set Test Mode" id="btnSetTestMode">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnSetTestMode_log">
    </td>
    <!--Description-->
    <td>
        Sets image_mode="prod", admob_mode="hold", app_mode="test"
    </td>

        </tr>

        </table>

        
        {% module Template("tail.html") %}
    <script src=  {{absolute_url("/static/js/process_app.js")}}></script>

        <!--JOB LOG VIWER TEMPLATE-->
    {% module Template("job_log_file_viewer_template.html") %}

    </div>
    </body>
<footer> MindGameSoft</footer>
</html>