<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>QUEUE - App Creation Page </h3></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
<!--List of Developers NAMES-->
        <h4> Existing Developers</h4>
        <div id="olPackageList" class="listWrapper">
    <table>

        <th>S.No</th>
        <th>Developer ID</th>
        <th>Developer Name</th>
        <!--PRINT PACKAGE NAMES IN LOOP-->
{% for index, DEV in enumerate(PLDEVLST) %}
        {% block package %}
     <tr>
         <td>{{index}}</td>
         <td>{{DEV['PLDDID']}}</td>
         <td>{{DEV['PLDNAM']}}</td>
     </tr>

        {% end %}
        {% end %}
    </table>
</div>
        <hr>
        <h4>Developer Data Entry</h4>
<!--Devloper DATA ENTRY----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inDevID">Devloper ID</label>
					    	<input type="text" class="form-control" id="inDevID"
								   placeholder=" Enter Developer ID" value= "">
				  		</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="inDevName"> Devloper Name</label>
			  			 	<textarea  class="form-control" id="inDevName" rows="3"
									   placeholder="Enter Devloper Name"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" ID="btnCreateDev" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Add Developer</button>
			  			</div>

					</div>
				</form>
			</div>

<!--DEV DATA ENTRY FROM----------------------------------------------------------------------------------------->

<hr>
<hr>
<!--DEV DATA ENTRY----------------------------------------------------------------------------------------->
<!--List of Developers NAMES-->
        <h4> Existing Keywords</h4>
        <div id="olKeywordList" class="listWrapper">
    <table>

        <th>S.No</th>
        <th>Keyword ID</th>
        <th>Keyword Name</th>
        <!--PRINT Keyword NAMES IN LOOP-->
{% for index, KWD in enumerate(PLKWDLST) %}
        {% block keyword %}
     <tr>
         <td>{{index}}</td>
         <td>{{KWD['PLKKID']}}</td>
         <td>{{KWD['PLKNAM']}}</td>
     </tr>

        {% end %}
        {% end %}
    </table>
</div>
        <hr>
        <h4>Keyword Data Entry</h4>
<!--KEYWORD DATA ENTRY----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inKwdID">Keyword ID</label>
					    	<input type="text" class="form-control" id="inKwdID"
								   placeholder=" Enter Keyword ID" value= "">
				  		</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="inKwdName"> Keyword Name</label>
			  			 	<textarea  class="form-control" id="inKwdName" rows="3"
									   placeholder="Enter Keyword Name"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" ID="btnCreateKwd" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>Add Keyword</button>
			  			</div>

					</div>
				</form>
			</div>

<!--DEV DATA ENTRY FROM----------------------------------------------------------------------------------------->

    </div>


     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/anl-input-data.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>