<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>InProgres - App Data Entry Home </h3></center>
      <center><h2>  {{app_name}} </h2></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
<!--List of PACKAGE NAMES-->
        <h4> Existing Package Names</h4>
        <div id="olPackageList" class="listWrapper">
    <table>

        <th>S.No</th>
        <th>Package</th>
        <th>App Name</th>
        <!--PRINT PACKAGE NAMES IN LOOP-->
{% for index, package_name in enumerate(app_database.keys()) %}
        {% block package %}
     <tr>
         <td>{{index}}</td>
         <td>{{package_name}}</td>
         <td>{{app_database[package_name]}}</td>
     </tr>

        {% end %}
        {% end %}
    </table>
</div>
        <hr>
        <h4>App Data</h4>
<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inAppName">App Name (50 Char Limit)</label>
					    	<input type="text" class="form-control" id="inAppName"
								   placeholder=" Enter App Name" value= "{{firebase_app_data['app_name']}}">
				  		</div>
				  		<div class="form-group">
					    	<label for="inAdmobBanner">Admob Banner Unit ID</label>
					    	<input type="text" class="form-control" id="inAdmobBanner"
								   value="{{firebase_app_data['banner_id']}}" placeholder=" Enter Banner ID">
					  	</div>
				  		<div class="form-group">
					    	<label for="inAdmobInt1">Admob Interstetial 1 ID</label>
					    	<input type="text" class="form-control" id="inAdmobInt1"
								   value="{{firebase_app_data['inter_id1']}}" placeholder=" Enter Interstetial 1">
					  	</div>
				  		<div class="form-group">
					    	<label for="inAdmobInt2">Admob Interstetial 2 ID</label>
					    	<input type="text" class="form-control" id="inAdmobInt2"
								   value="{{firebase_app_data['inter_id2']}}" placeholder=" Enter Interstetial 2">
					  	</div>
				  		<div class="form-group">
					    	<label for="inAdmobInt3">Admob Interstetial 3 ID</label>
					    	<input type="text" class="form-control" id="inAdmobInt3"
								   value="{{firebase_app_data['inter_id3']}}" placeholder=" Enter Interstetial 3">
					  	</div>
				  		<div class="form-group">
					    	<label for="inAdmobInt4">Admob Interstetial 4 ID</label>
					    	<input type="text" class="form-control" id="inAdmobInt4"
								   value="{{firebase_app_data['inter_id4']}}" placeholder=" Enter Interstetial 4">
					  	</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="txtShortDesc"> App Short Desc</label>
			  			 	<textarea  class="form-control" id="txtShortDesc" rows="3"
									   placeholder="Enter Short Desc">{{firebase_app_data['desc_short']}}</textarea>
			  			</div>
			  			<div class="form-group">
			  				<label for ="txtDetailedDesc"> App Detailed Desc</label>
			  			 	<textarea  class="form-control" id="txtDetailedDesc" rows="10"
								   placeholder="Enter Detailed Desc">{{firebase_app_data['desc_detailed']}}</textarea>
			  			</div>
			  			<div>

			  				<button type="button" ID="btnSubmit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
			  			</div>

					</div>
				</form>
			</div>

<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/app_data.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>