<table>
    <thead>
    <th>S.No</th>
    <th>Action Button</th>
    <th>Description</th>
    </thead>
    <tr>
        <td>1</td>
        <td>
            <input type="button" value="Hold Admob" id="btnHldAdmob">
        </td>
        <td>
            <p> Stops displaying Ads in the App</p>
        </td>
    </tr>

</table>