<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>QUEUE - App Creation Page </h3></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
<!--List of PACKAGE NAMES-->
        <h4> Existing Package Names</h4>
        <div id="olPackageList" class="listWrapper">
    <table>

        <th>S.No</th>
        <th>Package</th>
        <th>App Name</th>
        <!--PRINT PACKAGE NAMES IN LOOP-->
{% for index, package_name in enumerate(app_database.keys()) %}
        {% block package %}
     <tr>
         <td>{{index}}</td>
         <td>{{package_name}}</td>
         <td>{{app_database[package_name]}}</td>
     </tr>

        {% end %}
        {% end %}
    </table>
</div>
        <hr>
        <h4>App Data</h4>
<!--APP DATA CREATION FROM----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inPackageName">Package Name</label>
					    	<input type="text" class="form-control" id="inPackageName"
								   placeholder=" Enter Package Name" value= "">
				  		</div>
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="txtShortDesc"> App Short Desc</label>
			  			 	<textarea  class="form-control" id="txtShortDesc" rows="3"
									   placeholder="Enter Short Desc"></textarea>
			  			</div>
			  			<div>

			  				<button type="button" ID="btnCreateApp" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
			  			</div>

					</div>
				</form>
			</div>

<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/crt_app.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>