<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <!--Reusable Header -->
 {% module Template("head.html") %}
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>App Maker Home Page</h3></center>
    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>Queue Name</th>
    <th>Item Count</th>
  </tr>
<tr>
    <td>
        <a href="/Queue" > <p>Apps in Queue </p> </a>
    </td>
   <td>
        {{item_count["Queue"]}}
    </td>
</tr>
<tr>
    <td>
        <a href="/InProgress"><p>Apps In Progress</p></a>
    </td>
   <td>
        {{item_count["InProcess"]}}
    </td>
</tr>
<tr>
    <td>
        <a href="/Published"><p>Apps Published to Play Store</p></a>
    </td>
   <td>
        {{item_count["Published"]}}
    </td>
</tr>
        </table>




{% module Template("tail.html") %}
    </body>

    <footer> MindGameSoft</footer>
</html>