<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<td>

    <img src={{absolute_url("/", imageitem)}}>
    <br>
    <center>

        <br>
        <form>
            <label> <input type="radio" name="validation" value="valid" checked="checked">Valid </label>
            <label> <input type="radio" name="validation" value="watermark">Watermark</label>
            <label> <input type="radio" name="validation" value="text">Text</label>
            <label> <input type="radio" name="validation" value="face">Face</label>
        </form>
    </center>

</td>
