<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>Image Downloader - Download From URL list</h3></center>
      <center><h2>  </h2></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
</div>
        <hr>
        <h4>Enter Inputs for Bing Image Search</h4>
<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inFolderName">Folder Name</label>
					    	<input type="text" class="form-control" id="inFolderName"
								   placeholder=" Enter Folder Name" value= "">
				  		</div>
				  		<div class="form-group">
					    	<label for="inURLPrefix">URL Prefix</label>
					    	<input type="text" class="form-control" id="inURLPrefix"
								   value="" placeholder=" Enter URL Prefix">
					  	</div>
				  		<div class="form-group">
					    	<label for="inImgName">Image Name</label>
					    	<input type="text" class="form-control" id="inImgName"
								   value="" placeholder=" Enter Image Name">
					  	</div>
				  		<div class="form-group">
					    	<label for="inFrmNo">From Number</label>
					    	<input type="text" class="form-control" id="inFrmNo"
								   value="" placeholder=" Enter From Number">
					  	</div>
				  		<div class="form-group">
					    	<label for="inToNo">To Number</label>
					    	<input type="text" class="form-control" id="inToNo"
								   value="" placeholder=" Enter From Number">
					  	</div>
			  		<div class="col-md-6">
			  			<!--<div class="form-group">-->
			  				<!--<label for ="txtShortDesc"> Future Use</label>-->
			  			 	<!--<textarea  class="form-control" id="txtShortDesc" rows="3"-->
									   <!--placeholder="Enter Short Desc"></textarea>-->
			  			<!--</div>-->
			  			<!--<div class="form-group">-->
			  				<!--<label for ="txtDetailedDesc"> Future Use</label>-->
			  			 	<!--<textarea  class="form-control" id="txtDetailedDesc" rows="10"-->
								   <!--placeholder="Enter Detailed Desc"></textarea>-->
			  			<!--</div>-->
			  			<div>

			  				<button type="button" ID="btnSubmitURLList" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
			  			</div>

					</div>
				</form>
			</div>

<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/img_urllist.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>