<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}


<head>
    
    </head>
 {% module Template("head.html") %}
    
    <body class="container">
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>Image Downloader - Home</h3></center>

    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>S No</th>
    <th>Robot</th>
  </tr>
<tr>
    <td>
    1
    </td>

    <!--Bing Image downloader-->
    <td>
    <a href={{absolute_url("/Img/Bing")}}>Bing Image Downloader</a>

    </td>


</tr>
        <tr>
            <td>
                2
            </td>
                <!--Bing Image downloader-->
    <td>
    <a href={{absolute_url("/Img/URLList")}}>Download from URL List</a>

    </td>

        </tr>

        </table>

        {% module Template("tail.html") %}
    <script src="static/js/queue_app.js"></script>
    </body>
<footer> MindGameSoft</footer>
</html>