<br>
<div class="container" style="border: thin solid black; align: center">
<center> <h4 style="align: center">Completed Job Log Viewer</h4></center>

<center> <h5 id="JobName2" style="border: thin solid black; align: center ;colour;blue">Job:</h5></center>
    <hr>

<textarea id="txtJobViewer" class="form-control" style="min-width: 100%" rows="10" min-rows="10" readonly >

</textarea>
    </div>
<br>