<br>
<div class="container" style="border: thin solid black; align: center">
<center> <h3 style="align: center">Active Job Log</h3></center>

<center> <h3 id="JobName" style="border: thin solid black; align: center ;colour;blue">Job:</h3></center>
    <hr>
<ol id="olLogger" style="align: center ; text-align: center">
<li >No Job Currently Running</li>
</ol>
    </div>
<br>