<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

   <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={{absolute_url("/")}}>Andromeda</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href={{absolute_url("/")}}>Home</a></li>
                    <li><a href={{absolute_url("/Queue")}}>Queue</a></li>
                    <li><a href={{absolute_url("/InProgress")}}>In Progress</a></li>
                    <li><a href={{absolute_url("/Published")}}>Published</a></li>
                    <li><a href={{absolute_url("/Img")}}>Image Downloader</a></li>
                    <li><a href={{absolute_url("/Analytics")}}>Analytics</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
   <br>
   <br>