<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AndroMedaRobot</title>
    <!--Reusable Header -->
 {% module Template("head.html") %}
</head>
<body>
{% module Template("nav_template.html") %}
<br>
<br>
<br>
<br>
<h1 style="text-align:center">No Images found in this App Folder: 01_original_images </h1>


        {% module Template("tail.html") %}

</body>
</html>