<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}


<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3> App Processing Home Page </h3></center>
      <center><h2>  {{app_name}} </h2></center>

    <div class="container">
            <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}


    <table style="width:100%">
 <tr>
   <!--<th>S.No</th>-->
    <th>Step No</th>
    <th>Action Button</th>
    <th>Status</th>
    <th>Job Logs</th>
    <th>Description</th>
<tr>
<!--Step1-Maintain App Data-->
    <!--Step No-->
    <td>
        <p> Step 1</p>
    </td>
    <!--Action Button-->
    <td>
       <a href= {{absolute_url("/InProgress/AppData?app_name=", app_name)}}><p>Maintain App Data</p></a>
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnMainTainAppData_log">
    </td>
    <!--Description-->
    <td></td>
</tr>
<tr>
<!--Step1.01-Add Base JSON-->
    <!--Step No-->
    <td>
        <p> Step 1.02</p>
    </td>
    <!--Action Button-->
    <td>
     <input type="button" value="Add Base JSON" id="btnAddBaseJSON">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
    <input type="button" value="View Log" id="btnAddBaseJSON_LOG">
    </td>
    <!--Description-->
    <td></td>
</tr>
        <!--&lt;!&ndash;Step1.1&#45;&#45;&#45;&#45;Validate App Data   &ndash;&gt;-->
    <!--<td>-->
        <!--<p> Step 1.1</p>-->
    <!--</td>-->

    <!--<td>-->
       <!--<a href= {{absolute_url("/InProgress/AppValidation?app_name=", app_name)}}><p>Validate App Data</p></a>-->
    <!--</td>-->

    <!--<td>-->
    <!--</td>-->
</tr>
<!--Step2--Set TestMode-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 2</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Set Test Mode" id="btnSetTestMode">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnSetTestMode_log">
    </td>
    <!--Description-->
    <td>
        Sets image_mode="prod", admob_mode="hold", app_mode="test"
    </td>

        </tr>
<!--Step3--Make Sets-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 3</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Make Sets" id="btnMakeSets">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnMakeSets_log">
    </td>
    <!--Description-->
    <td>
        Breaks the 02_valid_images folder into 10 sets --> set_1, set_2 ...set_10.
        --> Converts all images to WEBP-->   Distributes images equally.
    </td>

        </tr>

<!--Step4--Make Set Title Images-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 4</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Make Set Title Images" id="btnMakeSetTitleImages">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnMakeSetTitleImages_log">
    </td>
    <!--Description-->
    <td>
        Makes URLs for each set image and patches the "prod_images" Key with the "set_image_url"
    </td>

        </tr>

        <tr>
<!--Step1.01Convert to WEBP-->
    <!--Step No-->
    <td>
        <p> Step 1.01</p>
    </td>
    <!--Action Button-->
    <td>
     <input type="button" value="Convert All Images to WEBP" id="btnConvertToWEBP">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
    <input type="button" value="View Log" id="btnConvertToWEBP_LOG">
    </td>
    <!--Description-->
    <td>
        This step is optional. Conversion already done when "Make Sets" step is executed. Dont run it explicitly. This step is for some exceptional cases only.
    </td>
</tr>


<!--Step5--Upload to Gcloud-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 5</p>
    </td>
    <!--Action Button-->
    <td>
       <input hidden type="button" value="Upload to Gcloud" id="btnUploadtoGcloud">
       <input hidden type="button" value="Delete From Gcloud" id="btnDelFromGcloud">
       <input type="button" value="Upload to Minio" id="btnUploadtoMinio">
       <input type="button" value="Delete From Minio" id="btnDelFromMinio">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input hidden type="button" value="View Gcloud Upload Log" id="btnUploadtoGcloud_log">
                <input hidden type="button" value="View Gcloud Delete Log" id="btnDelFromGcloud_log">
                <input type="button" value="View Minio Upload Log" id="btnUploadtoMinio_log">
                <input type="button" value="View Minio Delete Log" id="btnDelFromMinio_log">
    </td>
    <!--Description-->
    <td>
        Uploads/Deletes entire App Dir to Gcloud
    </td>

        </tr>


 <!--Step6--Add Prod Images-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 6</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Test JSON" id="btnTestJSON">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnTestJSON_log">
    </td>
    <!--Description-->
    <td>
       Tests the JSON and prints the log
    </td>

        </tr>

 <!--Step6--Pre Publish Setup-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 6</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Pre Publish Setup" id="btnPrePublishSetup">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnPrePublishSetup_log">
    </td>
    <!--Description-->
    <td>
       Sets image_mode = "hold", admob_mode = "hold"
    </td>

        </tr>
 <!--Step6--Post Publish Setup-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 6</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Post Publish Setup" id="btnPostPublishSetup">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnPostPublishSetup_log">
    </td>
    <!--Description-->
    <td>
       Sets image_mode = "prod", admob_mode = "prod"
    </td>

        </tr>
        <!--Step7--Move To Published-->
        <tr>
    <!--Step No-->
    <td>
        <p> Step 7</p>
    </td>
    <!--Action Button-->
    <td>
       <input type="button" value="Move To Published Directory" id="btnMoveToPublished">
    </td>
    <!--Status-->
    <td>
    </td>
    <!--Job Logs-->
    <td>
                <input type="button" value="View Log" id="btnMoveToPublished_log">
    </td>
    <!--Description-->
    <td>
       Moves App Dir to Published Dir
    </td>

        </tr>

        </table>

        
<h2>App Modes Switches</h2>

        {% module Template("app_modes_switch.html") %}


        {% module Template("tail.html") %}
    <script src=  {{absolute_url("/static/js/process_app.js")}}></script>

        <!--JOB LOG VIWER TEMPLATE-->
    {% module Template("job_log_file_viewer_template.html") %}

    </div>
    </body>
<footer> MindGameSoft</footer>
</html>