<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>Apps Available in the <bold>Published</bold> Folder.</h3></center>
    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>Seq No</th>
    <th>App Name</th>
    <th>Status & Actions</th>
  </tr>
{% for index,app in enumerate(apps, start=1) %}

        {% block app %}
<tr>
    <td>
<p>{{index}}</p>
    </td>
    <td>
<p>{{app}}</p>
    </td>

    <!--Validate Button-->
    <td>
        <a href={{absolute_url("/Published/Titles?app_name=", app)}}>Edit Titles</a>

    </td>

</tr>
        
        {% end %}
      {% end %}

        </table>
        

    
    <footer> MindGameSoft</footer>
        
    </body>

</html>