<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>Published - App Gallery Titles </h3></center>
      <center><h2>  {{app_name}} </h2></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
</div>
        <hr>
        <h4>App Data</h4>


<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6 form-line">
			  			<div class="form-group">
			  				<label for="inAppName">App Name</label>
					    	<input type="text" class="form-control" id="inAppName"
								   placeholder=" Enter App Name" value= "{{firebase_app_data['app_name']}}">
				  		</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle1">Gallery Title 1</label>
					    	<input type="text" class="form-control" id="inGalleryTitle1"
								   value="{{app_titles[0]}}" placeholder=" Enter Gallery Title1">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle2">Gallery Title 2</label>
					    	<input type="text" class="form-control" id="inGalleryTitle2"
								   value="{{app_titles[1]}}" placeholder=" Enter Gallery Title2">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle3">Gallery Title 3</label>
					    	<input type="text" class="form-control" id="inGalleryTitle3"
								   value="{{app_titles[2]}}" placeholder=" Enter Gallery Title3">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle4">Gallery Title 4</label>
					    	<input type="text" class="form-control" id="inGalleryTitle4"
								   value="{{app_titles[3]}}" placeholder=" Enter Gallery Title4">
					  	</div>
			  		</div>
			  		<div class="col-md-6">
										  		<div class="form-group">
					    	<label for="inGalleryTitle5">Gallery Title 5</label>
					    	<input type="text" class="form-control" id="inGalleryTitle5"
								   value="{{app_titles[4]}}" placeholder=" Enter Gallery Title5">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle6">Gallery Title 6</label>
					    	<input type="text" class="form-control" id="inGalleryTitle6"
								   value="{{app_titles[5]}}" placeholder=" Enter Gallery Title6">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle7">Gallery Title 7</label>
					    	<input type="text" class="form-control" id="inGalleryTitle7"
								   value="{{app_titles[6]}}" placeholder=" Enter Gallery Title3">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle8">Gallery Title 8</label>
					    	<input type="text" class="form-control" id="inGalleryTitle8"
								   value="{{app_titles[7]}}" placeholder=" Enter Gallery Title8">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle9">Gallery Title 9</label>
					    	<input type="text" class="form-control" id="inGalleryTitle9"
								   value="{{app_titles[8]}}" placeholder=" Enter Gallery Title9">
					  	</div>
				  		<div class="form-group">
					    	<label for="inGalleryTitle10">Gallery Title 10</label>
					    	<input type="text" class="form-control" id="inGalleryTitle10"
								   value="{{app_titles[9]}}" placeholder=" Enter Gallery Title10">
					  	</div>

			  			<div>

			  				<button type="button" ID="btnSubmit" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
			  			</div>

					</div>
				</form>
			</div>

<!--APP DATA ENTRY FROM----------------------------------------------------------------------------------------->

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/published_app_titles.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>