<html>

<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}


<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>QUEUE - App Processing Home Page </h3></center>
      <center><h2>  {{app_name}} </h2></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">

    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>Step No</th>
    <th>Action Button</th>
    <th>Status</th>
    <th>Job Logs</th>
    <th>Description</th>
  </tr>
<tr>
<!--Step1-->
    <td>
        <p> Step 1</p>
    </td>

    <td>
       <input value="Create App Directories" type="button" id="btnCrtAppDir">
    </td>

    <td>
    </td>
    <td>
        <input type="button" value="View Log" id="btnCrtAppDir_log">
    </td>
    <td>
    </td>
</tr>
<!--Step1.2-->
    <td>
        <p> Step 1.2</p>
    </td>

    <td>
        <a href={{absolute_url("/ImgUploader?app_name=", app_name)}}>Upload Images to Original Images</a>
    </td>

    <td>
    </td>

    <td>
    </td>
    <td>
    </td>
</tr>
<!--Step2-->
        <tr>
    <td>
        <p>Step 1.3</p>
    </td>

    <td>
       <input type="button" value="Delete All Images" id="btnDelAllImages">
    </td>

    <td>
    </td>
    <td>
    </td>
    <td>
    </td>

        </tr>
<!--Step2-->
        <tr>
    <td>
        <p>Step 2</p>
    </td>

    <td>
       <input type="button" value="Rename Images" id="btnRenImages">
    </td>

    <td>
    </td>

    <td>
    </td>
    <td>
    </td>

        </tr>
<!--Step3-->
        <tr>
    <td>
        <p>Step 3</p>
    </td>

    <td>
       <a href={{absolute_url("/Queue/Validate?app_name=", app_name)}}>Validate Images</a>
    </td>

    <td>

    </td>

    <td>
    </td>
    <td>
    </td>

        </tr>
<!--Step4-->
        <tr>
    <td>
        <p>Step 4</p>
    </td>

    <td>
       <input type="button" value="Move All Images to Valid Folder" id="btnMoveAllToValid">
    </td>

    <td>
    </td>
    <td>
    </td>
    <td>
    </td>

        </tr>
<!--Step5-->
        <tr>
    <td>
        <p>Step 5</p>
    </td>

    <td>
       <a>Validate the App data in Queue</a>
    </td>

    <td>
    </td>
    <td>
    </td>
    <td>
    </td>

        </tr>
<!--Step6-->
        <tr>
    <td>
        <p>Step 6</p>
    </td>

    <td>
       <input type="button" value="Move App to In Progress" id="btnMovToInProgress">
    </td>

    <td>
    </td>
    <td>
    </td>
    <td>
    </td>

        </tr>
        </table>

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/js/queue_app.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    {% module Template("job_log_file_viewer_template.html") %}


    </body>

{% module Template("footer_template.html") %}
</html>