<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}


<head>
    
    </head>
 {% module Template("head.html") %}
    
    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>Apps Available in the QUEUE for publishing.</h3></center>

        <h3 style="align-content: center"><a href={{absolute_url("/Queue/Crt_App")}}>Create App With Package Name</a></h3>

    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>App Name</th>
    <th>Status & Actions</th>
  </tr>
{% for app in apps %}

        {% block app %}
<tr>
    <td>
<a href= {{absolute_url("/Queue/App?app_name=", app)}}><p>{{app}}</p></a>
    </td>

    <!--Validate Button-->
    <td>

    </td>

</tr>
        
        {% end %}
      {% end %}

        </table>
        

    

        {% module Template("tail.html") %}
    <script src="static/js/queue_app.js"></script>
    </body>
<footer> MindGameSoft</footer>
</html>