<html>
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}
<style>
    .listWrapper {
    max-height:300px;
    overflow-y:auto;
        align-text:center;
        align-content: center;
        align-items:center;
}
    li{
        align-content: center;
    }
</style>
    <link rel="stylesheet" href={{absolute_url("/static/libs/dropzone/dropzone.css")}}>

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3>QUEUE - Images Upload Page </h3></center>

    <!--JOB LOG TEMPLATE-->
    {% module Template("job_log_template.html") %}

    <div class="container">
</div>
        <hr>
        <h4>App Images Upload Form</h4>
<!--APP IMAGES UPLOAD FROM----------------------------------------------------------------------------------------->
        			<div class="contact-section">
			<div class="container">

                <!--<form enctype="multipart/form-data" action={{absolute_url("/ImgUploader?app_name=",app_name)}} method="post">-->
<!--File: <input type="file" name="file1" />-->
<!--<br />-->
<!--<br />-->
<!--<input type="submit" value="upload" />-->
<!--</form>-->

                <form action={{absolute_url("/ImgUploader?app_name=",app_name)}} class="dropzone">
         <div class="fallback">
            <input name="file1" type="file" multiple />
            </div>
                </form>

			</div>

<!--APP IMAGES UPLOAD FROM----------------------------------------------------------------------------------------->

    </div>
     {% module Template("tail.html") %}
    <script src= {{absolute_url("/static/libs/dropzone/dropzone.js")}}></script>

<!--JOB LOG VIWER TEMPLATE-->
    <!--{% module Template("job_log_file_viewer_template.html") %}-->

    </div>
    </body>

{% module Template("footer_template.html") %}
</html>