<html>

<head>
     <!--Reusable Header -->
 {% module Template("head.html") %}

    </head>

    <body>
    {% module Template("nav_template.html") %}
      <center><h1>Welcome to AndroMeda App Making AI Robot</h1></center>
      <center><h3> App Data Validation Home Page </h3></center>
      <center><h2>  {{app_name}} </h2></center>
    <table style="width:70%">
 <tr>
    <!--<th>S.No</th>-->
    <th>Seq No</th>
    <th>Error Message</th>
    <th>Detailed Description</th>
  </tr>

{% for index,error in enumerate(error_messages, start=1) %}

<tr>
    {% block error %}
<!--Seq number-->
    <td>
        <p> Step {{index}}</p>
    </td>
<!--Error Message-->
    <td>
    <p> {{error["message"] }} </p>
    </td>
<!--Error Desciption-->
    <td>
        <p>{{error["desc"] }}</p>
    </td>
</tr>
        {% end %}
        {% end %}


        </table>
        

    

        {% module Template("tail.html") %}

    </body>
<footer> MindGameSoft</footer>
</html>