<!DOCTYPE html>
<html lang="en">
<!--Import AndromedaPy for using the utility functions-->
{% module Template("import-template.html") %}
{% from AndromedaPy import absolute_url %}

<head>
  {% module Template("head.html") %}
    
</head>

<body>

{% module Template("nav_template.html") %}

    <div class="container">
        <br><br><br>
      <center><h1>Image Validation </h1></center> 
    <table style="width:70%">
      {% for image in imagelist %}
        <tr style="width:80%">
        {% block image %}
            {% module Template("image_cell_td.html", imageitem=image) %}

        {% end %}
      {% end %}

        </table>
        <br>
        <center><input type="button" value="Submit" class="btn btn-default" id="submit"></center> 
  
    <footer> MindGameSoft</footer>
        

    </div>
    <!-- /.container -->

{% module Template("tail.html") %}
    <script src={{absolute_url("/static/js/image_validation.js")}}></script>
    

    
</body>

</html>